.a {
  border: 5px solid black;
}

.c {
  background-color: #172be1;
  height: 80px;
}

.b {
  background-color: #ff0000;
  height: 80px;
}

p {
}

.e {
  border: 5px dotted blue;
}

.o {
  background-color: #7a7474;
  height: 80px;
}

.u1 {
  background-color: #ffc700;
  height: 80px;
}

.u {
  background-color: #ff00e6;
  height: 80px;
}